@import "tailwindcss";

@font-face {
  font-family: 'Dogica Pixel';
  src: url('./fonts/dogicapixel.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap');
